@model ChildrenModel2
@Html.Hidden("___Type", typeof(ChildrenModel2).AssemblyQualifiedName)
<div class="row">
    <div class="col">
    <label asp-for="Company">Company</label>
    <input asp-for="Company" class="form-control" />
    </div>
</div>